/* AdminJobApplicationDetail */
@import "../AdminCompanyDetail/AdminCompanyDetail.css";

.detail-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #3b82f6;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.detail-link:hover {
  color: #2563eb;
  text-decoration: underline;
}
